body {
  background-color: grey;
  background-image: url("welcome home.jpeg");
}
h1 {
  color: lightblue;
  text-align: center;
}
h2 {
  text-align: center;
  color: lightblue;
}
p {
  color: red;
  font-size: 25px;
}
li{
  font-size: 20px;
}
